export(BFB)
export(FPR)
export(biweight_midvariance)
export(calibration_curve)
export(median_absolute_deviation)
export(p_BFB)
export(p_H0)
export(posterior_odds)
export(quantile_CI)
import(grDevices)
import(graphics)
import(stats)
import(utils)
